{% load staticfiles %}
<link rel='stylesheet' href="{% static 'bower_components/fullcalendar/dist/fullcalendar.css' %}" />
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.js' %}"></script>
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Salvar" />
</form>
